body {
    background-color: rgb(100,100,250);
}
.menu {
    background-color: rgba(255,255,255,0.8);
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
}
.fo {
    background-color: rgba(255,255,255,0.8);
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
    padding: 1%;
}
.logodiv {
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
}
.logo {
    width: 100%;
}
.fooldal {
    font-weight: bolder;
}
.nav-link {
    padding: 1%;
    font-size: 20px;
}






.suti{
    width: 100%;
}
.keret2 {
    border: 5px solid brown;
    padding: 3%;
    box-shadow: 0 0 2px 1px rgba(186, 74, 0, 0.5);
}
.row {
    margin-bottom: 2%;
}


.tortabekezdes{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.tortacim{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
